body {
    font-family:'Raleway', serif;
}

h1 {
    color: #b6b4b4;
    font-weight: 300px;
}

.content article {
    padding: 100 0px;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.content p {
    font-size: 18px;
    font-family: 'Lora', serif;
}

img {
    width: 100%
}


/* Parallax */
.latar {
    position: relative;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    background-image: url(../img/galeri/asli/fit.jpg);
    background-size: auto 600px;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
    font-family:'Poppins', serif;
}

.latar h1 {
    padding-left: 110px;
    padding-top: 200px;
    font-size: 56px;
    text-shadow: 3px 3px 3px #000;
}

.latar h2 {
    padding-left: 110px;
    color: rgb(157, 0, 209);
    font-size: 36px;
    text-shadow: 2px 2px 2px #000;
}


/* Navbar */
.header-fixed {
    background: rgba(0, 0, 0, 0.85);
	box-shadow:0 1px 1px black;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
    background: rgba(0, 0, 0, 0.85);
	text-align: center;
	margin: 0 auto;
}

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 22px Cookie, 'Poppins', serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
    color:  rgb(157, 0, 209);;
    font-size: 22PX;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px 'Poppins', serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
    opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 22px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}

/* header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/* Background Gedung Sate */
.back {
    position: relative;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-image: url(../img/back.png);
    background-size: auto 800px;
    background-position: top center;
}

/* Gallery */
.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
}
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    color: whitesmoke;
}

.tz-gallery {
    padding: 10px;
    width: 100%;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

/* End Gallery */

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
	}
	
	#map {
		width: 25%;
	}

	h1 {
		font-size: 30px;
	}

	.isigaleri {
	width: 100%;
	height: 1850px;
	background-color: rgb(204, 204, 204)
	}

	.latar h1 {
		padding-left: 10px;
		padding-top: 200px;
		font-size: 56px;
		text-shadow: 2px 2px 2px #000;
	}
	
	.latar h2 {
		padding-left: 80px;
		color: rgb(157, 0, 209);
		font-size: 48px;
		text-shadow: 1px 1px 1px #000;
	}
}


/* Kabaret */
.kabaret h1 {
    padding: 100 0px;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.box {
    width: 100%;
    height: 300px;
}

.box img {
    display: block;
    margin: 0 auto 0 auto;
    width: 25%;
    float: center;
}

.box h3 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.box p {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

/* view */
.view {
    position: relative;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-image: url(../img/galeri/asli/view.jpg);
    background-size: auto 600px;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.viewer {
    text-align: center;
    padding-top: 200px;
}

/* Footer */
.footer-distributed {
    background-color: #191818;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'Poppins', serif;
	padding: 55px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-left img {
    width: 30%;
}

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
    padding: 0;
    font-family:'Poppins', serif;
    font-size: 20px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
    color:  inherit;
    font-size: 14px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

h1 {
	text-align: center
}
#map {
	height: 400px;
	width: 100%;
   }


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media screen and (max-width: 768px) {
    .latar img {
        background-size: 250%;
    }
    .latar h1 {
        font-size: 250%;
        padding left: 0px;
    }
    .latar h2 {
        font-size: 110%;
    }
}
