/* style */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(../img/regal.png);
}


.main {
    background-color: #2E2E2E;
    margin: 0px;
    padding: 3px;
    height: 80px;
}

.header {
    padding: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    color: whitesmoke;
    font-size: 16px;
    width: 600px;
    box-sizing: border-box;
    margin: 0px;
    z-index: 100;
    float: left;
}

.main #nav {
    padding: 7px;
    padding-bottom: 7px;
    padding-right: 50px;
    color: whitesmoke;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px;
    z-index: 100;
    float: right;
}

.menu {
    padding-right: 150px;
    height: 50px;
}

ul li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

ul .menu li {
    display: block;
    background: grey;
    padding: 0 12px;
    width: 100px;
}

ul .submenu {
    display: none;
}

ul.menu li:hover ul.submenu {
    display: block;
    position: absolute;
}

ul.submenu li {
    display: block;
    margin: auto;
    padding: 0px;
}

.menu a{
    text-decoration: none;
    color: #674B23;
    padding: 10px;
}

.menu a:hover {
    background-color: lightblue;
    color: white; 
}

.submenu li {
    padding: 5px;
    background-color: white;
}

.isi {
    width: 800px;
    margin: auto;
    background-color: white;
    padding-top: 40px;
}


.gambar {
    height: 200px;
    background-image: url(../img/Geologi.jpg);
    background-size : cover;
    background-position: 0 -130px;
    border-top: 5px solid #674B23;
    border-bottom: 5px solid #323230;
    margin: auto;
}

.content {
    padding: 15px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content penulis {
    font-size: 10px;
    margin-top: 5px;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;  
    text-align: justify; 
}

.footer {
    background-color: #191818;
    padding: 1px;
    text-align: center;
    color: whitesmoke;
    font-size: 10px;
}
