/* Font */
body {
    font-size: 12px;
    font-family:'Poppins', serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
    color: #b6b4b4;
    font-weight: 300px;
}

p {
    font-size: 18px;
    font-family: 'Lora', serif;
    line-height: 1.46;
}


/* Background */
.background {
    position: relative;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-image: url(../img/galeri/asli/background.jpg);
    background-size: auto 600px;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.background h1 {
    padding-left: 450px;
    padding-top: 170px;
    font-size: 56px;
    text-shadow: 2px 2px 2px #000;
}

/* navbar */

.my-navbar {
    border: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
}

.my-navbar a {
    font-size: 14px;
}

a {
    font-size: 18px;
}

.navbar-brand {
    width: 100px;
}

.navbar-brand {
    float: left;
    padding: 10px;
    padding-left: 50px;
}

.navbar-brand img {
    width: 118%;
}

.navbar-right {
    padding-right: 50px;
}

.navbar-text {
    padding-top: 2.5px;
    padding-left: 7.2px;
    font-family:'Poppins', serif;
    font-size: 14px;
}

/* Logo Member */
.container {
    width: 1050px;
    margin: auto;
    padding-left: 70px;
    padding-bottom: 30px;
}

.container h1 {
    text-align: center;
    font-size: 36px;
}
.container p {
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.team img {
    width: 100%;
    float: left;
}

.team li {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #2e2e2e;
    float: left;
    margin-right: 60px;
    position: relative;
    margin-top: 60px;
}

.team li img {
    border-radius: 50%;

}

.team li span {
    display: block;
    width: 170px;
    height: 170px;
    background-color: rgba(157, 0, 209, 0.479);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    text-align: center;
    line-height: 170px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000000;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.team li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.end {
    background-color: #191818;
    height: 350px;
}

.end p {
    color: whitesmoke;
    text-align: left;
    font-size: 14px;
    padding-top: 102px;
    padding-left: 10px;
    width: 450px;
    float: left;
}

.end img {
    width: 20%;
    padding-top: 72px;
    padding-left: 75px;
    float: left;
    padding-right: 20px;
}

.footer {
    background-color: #191818;
    color: whitesmoke;
    padding: 1px;
    text-align: center;
    font-size: 12px;
}
