
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #cccccc;
    font-weight: 300;
}

figure {
    margin: auto;
}

.content article {
    padding: 100 0px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%
}




\//* Parallax *//
.latar {
    position: relative;
    height: 600px;
    background-image: url(../img/regal.png);
}

.background {

}