* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey; color:blue;
}
body {
    color: black
}
body {
    background-color: greenyellow; color:brown;
}
table, td {
    color: blueviolet
    border: 1px solid salmon;
}
td {
    padding: 0;
    margin: 2px;
}

.menu {
    padding: 5px;
    margin: 2px;
    display: inline-block
}

.bungkus {
    max-width: 800px;
    margin: 0 auto;
}
