/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
    .owl-carousel_style-3 .owl-nav {
        display: none !important;
    }
    * + .quote-light__main {
        margin-top: 30px;
    }
}


/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    .sm-text-center{
        text-align: center !important;
    }
    .sm-pull-none{
        float: none !important;
    }
    .sm-m-top-10{
        margin-top:0px;
        padding-top: 0px;
        width: 10%;
    }
    .sm-m-top-20{
        margin-top:20px;
    }
    .sm-m-top-30{
        margin-top:30px;
    }
    .sm-m-top-50{
        margin-top:50px;
    }
    .logo-scrolled {
        margin-top: 0px;
        padding-bottom: 10px;
        width: 60%;
    }
    .section-variant-1 {
        padding: 35px 0;
      }
    .owl-carousel_style-3 {
        padding-left: 27px;
        padding-right: 27px;
    }

}



/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    h2{
        font-size:2rem;
    }
    p{
        font-size:90%;
        line-height: 2rem;
    }
    .xs-pull-none{
        float: none !important;
    }
    .xs-text-center{
        text-align: center !important;
    }
    .xs-m-top-10{
        margin-top: 0px;
        padding-top: 0px;
        width: 10%;
    }
    .xs-m-bottom-10{
        margin-bottom:10px;
    }
    .xs-m-bottom-20{
        margin-bottom:20px;
    }
    .main_testimonial .testimonial_slid .slick-arrow.nextprevright {
        top: -150px;
    }
    .logo-scrolled {
        margin-top: 0px;
        padding-bottom: 10px;
        width: 60%;
    }

}




/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 85%;
    }
    .testimonial_slid .slick-arrow {
        display: none;
    }

}





@media (max-width: 400px) {


}

@media (max-width: 320px) {
    html {
        font-size: 60.5%;
    }
    .btn.btnxs{
        padding:2.01rem 1.5rem;
    }

}



@media (min-width: 768px) {
    .section__header {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-bottom: 25px;
    }
    .section-variant-1 {
        padding: 70px 0;
      }
  }
  